trunk/globalmentor-text-directory-vcard/.classpath
trunk/globalmentor-text-directory-vcard/.project
trunk/globalmentor-text-directory-vcard/.settings
trunk/globalmentor-text-directory-vcard/target
trunk/globalmentor-text-directory/.classpath
trunk/globalmentor-text-directory/.project
trunk/globalmentor-text-directory/.settings
trunk/globalmentor-text-directory/target
